<div class="m-word">
  <div class="img">
    <%=image_tag opinion.user.img_path, :size => '50x50' %>
  </div>
  <div class="word">
    <p><%=opinion.msg %></p>
<% if opinion.topic %>
    <div class="word-bg">
      <a href="#"><%=opinion.topic.user.openid %></a>
      <%=opinion.topic.msg %>
      <a href="#" style="color:#999">原文转发(3)</a>|<a href="#" style="color:#999">原文评论(3)</a>
    </div>
<% end %>
    <p class="w-p">
      <a href="#"><%=opinion.created_at %></a> 来自<a href="#"><%=opinion.user.openid %></a>
      <span><a href="#">转发(1)</a> | <a href="#">收藏</a> | <a href="#">评论</a></span>
    </p>
  </div>
  <div style="clear:both;"></div>
</div>
