<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @opinion.user_id %>
</p>

<p>
  <b>Topic:</b>
  <%= @opinion.topic_id %>
</p>

<p>
  <b>Msg:</b>
  <%= @opinion.msg %>
</p>


<%= link_to 'Edit', edit_opinion_path(@opinion) %> |
<%= link_to 'Back', opinions_path %>
